body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FDBB30;
    background-color: #007AC1;
    font-size: 20px;
}

h1 {
    color: #EF3B24;
    text-align: center;
}

main > section > img {
    max-width: 400px;
}

#facts-section > h2 {
    text-decoration: underline;
}

#quotes-section > h2 {
    text-decoration: underline;
}

#quotes-section > blockquote {
    font-style: italic;
}

#links-section > h2 {
    text-decoration: underline;
}

form {
    background-color: #EF3B24;
}